
.stylesAddMedicament{
    position: relative;
    width: 100%;
    height: 100%;
    top: 60px;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.stylesAddMedication{
    display: flex;
    padding: 20px;
}

.stylescontendAddMedicaton-two{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
