
.stylesAddMedicament{
    position: relative;
    height: 100%;
    width: 100%;
    top: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    box-sizing: border-box;
    padding: 20px;
}

.stylesAddMedication{
    display: flex;
    padding: 20px;
}

.stylescontendAddMedicaton-two{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}
