.styleH2{
    color: black;
}

.header-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 60px;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 60px;
    gap: 10px;
    margin-bottom: 10px;
}

.item-row input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.total-field {
    background-color: #eaeaea;
    font-weight: bold;
    text-align: right;
}

.total-general {
    margin-top: 20px;
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
}
