.stylesImgLogo {
    width: 150px;  /* Ajusta el tamaño según tus necesidades */
    height: auto;  /* Esto asegura que la proporción de la imagen se mantenga */
  }

.stylesNavBar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    padding: 0.5rem;
    background-color: #2a8c4a ;
}

.stylesLogoContainer {
    display: flex;
    align-items: center;
}

.stylesImgContainerNavBar{
    border: 0;
    height: auto;
    width: a;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.stylesIconContainer{
    border: 5px;
    height: 60px;
    width: auto;
    padding: 0.5rem 2rem 0.5rem 0.5rem;
    border-radius: 8px;
    background-color: #2a8c4a;
    color: rgb(245, 242, 242);
}

.stylesIcon{
    width: 100%;
    height: 100%;
    padding: 3px;
    background-color: #64c27b ;
    color: rgb(245, 242, 242) ;
}

.stylesIcon:hover{
    background-color: #2a8c4a ;
}
.stylesUl{
    width: auto;
    right: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.stylesLi {
    margin-right: 1rem;
}

.stylesA{
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: .3s ;
    border: 2px solid transparent;
}

.stylesA:hover{
    background-color: #64c27b;
    border-color: white;
}

.stylesActive{
    background-color: #64c27b;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    padding: .4rem 1rem; 
    border-radius: 10px;
    border:3px solid white;
    
    
}

.stylesButoonNavBar{
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: .3s;
    margin-right: 1rem;
}

.stylesButoonNavBar:hover {
    background-color: rgb(255, 0, 0);
}

/* Contenedor del submenu */
.submenu-container {
  position: relative;
}

.submenu-btn {
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: white; /* O como tu navbar */
  padding: 10px;
}

.submenu {
  position: absolute;
  top: 40px;
  left: 0;
  background: #1a1a1a;
  border-radius: 6px;
  padding: 8px 0;
  list-style: none;
  width: 220px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  z-index: 999;
}

.submenu li {
  padding: 6px 12px;
}

.submenu li:hover {
  background: #333;
}

.submenu a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
  display: block;
}


@media screen and (max-width: 768px) {

    .stylesImgContainerNavBar{
        display: block;
    }

    .stylesUl{
        display: none;
        
    }

    .stylesUl-expanded{
        display: block;
        position: absolute;
        top: 60px;
        left: 0px;
        list-style: none;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-top: 1px solid black;
        background-color: #333;
    }

    .stylesLi {
        margin: 1rem 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .stylesA{
        width: 100%;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        transition: .3s ;
    }
    
    .stylesA:hover{
        background-color: rgb(223, 31, 31);
    }

    .cabecera { 
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f00909; 
        padding: 10px; 
        text-align: left; 
        color: #ffffff;
    }
    .letrahora{
        color: #ffffff;
    }

    
}

