.stylesImgLogo {
    width: 65px;  /* Ajusta el tamaño según tus necesidades */
    height: auto;  /* Esto asegura que la proporción de la imagen se mantenga */
  }

.stylesNavBar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0; 
    left: 0; 
    z-index: 1000; 
    padding: 0.5rem;
    background-color: rgba(238, 6, 6, 0.9) ;
    box-shadow: 0 2px 2px 2px rgba(248, 1, 1, 0.938);
}

.stylesLogoContainer {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.stylesH2{
    color: red;
    margin: 0;
}

.stylesImgContainerNavBar{
    border: 0;
    height: auto;
    width: a;
    padding: 0.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: none;
}

.stylesImgContainerNavBar:hover{
    background-color: rgb(223, 31, 31);
}

.stylesIconButton{
    border: 0;
    height: 35px;
    width: auto;
    padding: 0;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    color: rgb(245, 242, 242);
}

.stylesIcon{
    width: 100%;
    height: 100%;
}
.stylesUl{
    width: auto;
    right: 100%;
    display: flex;
    list-style: none;
    padding: 0;
    align-items: center;
}

.stylesLi {
    margin-right: 1rem;
}

.stylesA{
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    transition: .3s ;
    border: 2px solid transparent;
}

.stylesA:hover{
    background-color: rgb(223, 31, 31);
    border-color: white;
}

.stylesActive{
    background-color: red;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
    padding: .4rem 1rem; 
    border-radius: 10px;
    border:3px solid white;
    
    
}

.stylesButoonNavBar{
    padding: 10px 20px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    transition: .3s;
    margin-right: 1rem;
}

.stylesButoonNavBar:hover {
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 768px) {

    .stylesImgContainerNavBar{
        display: block;
    }

    .stylesUl{
        display: none;
        
    }

    .stylesUl-expanded{
        display: block;
        position: absolute;
        top: 60px;
        left: 0px;
        list-style: none;
        padding: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-top: 1px solid black;
        background-color: #333;
    }

    .stylesLi {
        margin: 1rem 0;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .stylesA{
        width: 100%;
        text-decoration: none;
        padding: 5px;
        border-radius: 10px;
        transition: .3s ;
    }
    
    .stylesA:hover{
        background-color: rgb(223, 31, 31);
    }

    .cabecera { 
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f00909; 
        padding: 10px; 
        text-align: left; 
        color: #ffffff;
    }
    .letrahora{
        color: #ffffff;
    }

    
}

.stylesIcon{
    background-color: rgba(238, 6, 6, 0.9) ;;
    color: rgb(245, 242, 242) ;;
}