
.stylesH2Subtitule{
    text-align: center;
}

.styleSearchResult{
    list-style: none;
    margin-top: 10px;
    width: 100%;
    padding: 0;
    overflow: auto;
}

.styleSearchItem{
    padding: 10px 15px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.styleSearchItem:hover {
    background-color: #2a8c4a;
}