.stylesModalMenu {
    position: absolute;
    top: 40px;
    width: 300px;
    left: 34rem;
}

.modalHeader{
    background-color: #2a8c4a;
    color: white;
    border-color: #eb2929;

}

.modalBody{
    background-color: #dffdd7;
}

.stylesContetMenuUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.styleContentButoon{
    width: 100%;
    padding: 0px;
}

.stylesLinkMenuUser{
    width: 100%;
    padding: 2px;
    border: none;
    background-color: #d0fdd7;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;

}

.stylesLinkMenuUser:hover {
    background-color: #e04c4c7f;
}

.stylesContentImgMenuUser{ 
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;  
}

.styleIconUserMenu {
    width: 145px;
    height: 145px;
}