.stylesContentHome{
  position: relative;
  padding: 10px;
  width: 100%;
  top: 60px;
  overflow: auto;
  box-sizing: border-box;
}

.stylesContentButtonsBig{
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;

}

.layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    align-items: center;
  }
  .Celda {
    width: 650px;
    height: 325px;
  
    display: grid;
    grid:
      "header" auto
      "main" 1fr
      "footer" auto
      / 1fr;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .main { grid-area: main;
    background-color: steelblue;
  }
  .footer { grid-area: footer; 
  }